@page "/login"
@using LAFABRICA.Services.Auth
@using System.ComponentModel.DataAnnotations
@inject DemexAuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager

<PageTitle>Iniciar Sesión</PageTitle>

<div class="container mt-5" style="max-width: 400px;">
    <h3 class="text-center mb-4">Iniciar Sesión</h3>

    <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
            <ValidationMessage For="@(()=>loginModel.Email)" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <InputText id="password" class="form-control" @bind-Value="loginModel.Password" type="password" />
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>

        <button id="loginBtn" type="submit" class="btn w-100 text-white" style="background-color: #0f54a1;">Ingresar</button>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div id="loginError" class="alert alert-danger mt-3">@errorMessage</div>
        }
    </EditForm>
    <div class="text-center mt-3">
        <a href="/forgot-password" class="text-decoration-none" >Olvide mi contraseña</a>
    </div>
    
</div>

@code {
    private LoginModel loginModel = new();
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task HandleLogin()
    {
        try
        {
            var success = await AuthProvider.LoginAsync(loginModel.Email, loginModel.Password);

            if (success)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                errorMessage = "Credenciales inválidas.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error al iniciar sesión: {ex.Message}";
        }
    }


    public class LoginModel
    {
        [Required(ErrorMessage = "El correo es obligatorio")]
        [EmailAddress(ErrorMessage = "Formato de correo inválido")]
        public string Email { get; set; } = string.Empty;

        [Required(ErrorMessage = "La contraseña es obligatoria")]
        public string Password { get; set; } = string.Empty;
    }
}
