@page "/clientes/crear"
@page "/clientes/editar/{clientId:int}"
@using LAFABRICA.Data.DB;
@using LAFABRICA.Models.Interface;
@inject IClientService service;
@inject NavigationManager nav;

<PageTitle>Nuevo Cliente</PageTitle>
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<div class="container mt2">	
	<div class="card">
		<div class="card-header">
			<div class="d-flex justify-content-between align-items-center mt-3">
				<h2>
					@if (clientId.HasValue)
					{
						<Icon Name="IconName.PersonFillGear" />
						<text>Editar cliente</text>
					}
					else
					{
						<Icon Name="IconName.PersonFillAdd"/>
						<text>Nuevo cliente</text>
					}
				</h2>
				<a class="btn btn-outline-secondary" href="/clientes"><Icon Name="IconName.ArrowLeft"></Icon></a>
			</div>	
		</div>
		<div class="card-body">
			@if (client  != null && editContext != null)
			{
				<EditForm EditContext="@editContext" OnValidSubmit="HandleOnValidSubmit">
					<DataAnnotationsValidator />
					<div class=" d-flex justify-content-between">
						<div class="container-sm">
							<h3>Informacion de la Empresa</h3>
							<div class="form-group row mb-3">
								<label class="col-md-5 col-form-label">Nombre de la Empresa: <span class="text-danger">*</span></label>
								<div class="col-md-8">
									<TextInput Class="border-1" @bind-Value="@client.Name" Placeholder="Ingrese el nombre de la Empresa" />
									<ValidationMessage For="@(() => client.Name)" />
								</div>
							</div>
							<div class="form-group row mb-3">
								<label class="col-md-5 col-form-label">Contacto <span class="text-danger">*</span></label>
								<div class="col-md-8">
									<TextInput Class="border-1" @bind-Value="@client.PhoneNumber" Placeholder="Ingrese el contacto de la empresa" />
									<ValidationMessage For="@(() => client.PhoneNumber)" />
								</div>
								<div>
									<p class="text-black-50">Formato admitido: xxxx-xxxx</p>
								</div>
							</div>
							<div class="form-group row mb-3">
								<label class="col-md-5 col-form-label">Correo <span class="text-danger">*</span></label>
								<div class="col-md-8">
									<TextInput Class="border-1" @bind-Value="@client.Email" Placeholder="Ingrese el correo electronico" />
									<ValidationMessage For="@(() => client.Email)" />
								</div>
							</div>
						</div>
						<div class="container-sm">
							<h3>Informacion del encargado</h3>
							<div class="form-group row mb-3">
								<label class="col-md-5 col-form-label">Nombre del Encargado: <span class="text-danger">*</span></label>
								<div class="col-md-8">
									<TextInput Class="border-1" @bind-Value="@client.Manager" Placeholder="Ingrese el nombre del Encargado" />
									<ValidationMessage For="@(() => client.Manager)" />
								</div>
							</div>
							<div class="form-group row mb-3">
								<label class="col-md-5 col-form-label">Contacto <span class="text-danger">*</span></label>
								<div class="col-md-8">
									<TextInput Class="border-1" @bind-Value="@client.ManagerPhoneNumber" Placeholder="Ingrese el contacto del Encargado" />
									<ValidationMessage For="@(() => client.ManagerPhoneNumber)" />
								</div>
								<div>
									<p class="text-black-50">Formato admitido: xxxx-xxxx</p>
								</div>
							</div>
							<div class="container-sm">
								<h3>Informacion de Ubicacion</h3>
								<div class="form-group row mb-3">
									<label class="col-md-5 col-form-label ">Provincia <span class="text-danger">*</span></label>
									<div class="col-md-8">
										<InputSelect Class="form-select" @bind-Value="@client.Location">
											<option value="">Seleccione una provincia</option>
											@foreach (string province in provinces)
											{
												<option value="@province">@province</option>
											}
										</InputSelect>
										<ValidationMessage For="@(() => client.Location)" />
									</div>
								</div>
								<div class="form-group row mb-3">
									<label class="col-md-5 col-form-label ">Locacion Especifica <span class="text-danger">*</span></label>
									<div class="col-md-8">
										<TextInput Class="border-1" @bind-Value="@client.SpecificLocation" Placeholder="Ingrese ubicacion detallada" />
										<ValidationMessage For="@(() => client.SpecificLocation)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary me-2"href="/clientes">Volver</a>
						<button class="btn btn-primary" type="submit">Guardar</button>
					</div>
				</EditForm>
			}
			else
			{
				<div class="d-flex justify-content-center">
					<Spinner Type="SpinnerType.Border" Size="SpinnerSize.Large" />
				</div>
			}
			
		</div>
	</div>
</div>

@code {
	[Inject] protected ToastService ToastService { get; set; } = default!;
	private Client? client;
	private EditContext? editContext;
	[Parameter]
	public int? clientId { get; set; }
	private readonly string[] provinces = { "San José", "Alajuela", "Heredia", "Cartago",
									"Guanacaste", "Puntarenas", "Limon"};

	protected override async Task OnParametersSetAsync()
	{
		client = new Client(); 
		editContext = new EditContext(client);

		StateHasChanged();

		if (clientId.HasValue)
		{
			var loaded = await service.GetById(clientId.Value);

			if (loaded == null)
			{
				nav.NavigateTo("/clientes");
				return;
			}

			client = loaded;
			editContext = new EditContext(client);
		}

		
		await InvokeAsync(StateHasChanged);
	}


	

	public async Task HandleOnValidSubmit()
	{

		if (editContext!=null && editContext.Validate())
		{
			
				try
				{
					if (clientId.HasValue)
					{
					
						await service.Update(clientId.Value, client!);
						ToastService.Notify(new(ToastType.Success, $"Se actualizaron los datos del cliente {client!.Name}"));
					}
					else
					{
						client!.QuantityPurchase = 0;
						client.IsActive = 1;
						client.IsFrequent = 0;
						await service.Create(client!);
						ToastService.Notify(new(ToastType.Success, $"Se registro correctamente al cliente {client.Name}"));

					}
					await Task.Delay(1000);
					nav.NavigateTo("/clientes");

				}catch(Exception e)
				{

					ToastService.Notify(new(ToastType.Danger, $"Ocurrio un error inesperado:\n {e.Message}"));
				}

		}
	}
	
}
