@page "/clientes"
@attribute [Authorize]
@using LAFABRICA.Data.DB
@using LAFABRICA.Models.Interface
@using LAFABRICA.Models
@using LAFABRICA.Services.Auth
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject IClientService service
@inject IOrderService orderService
@inject NavigationManager nav
@inject ToastService ToastService

<PageTitle>Clientes</PageTitle>

<Modal @ref="modal" IsVerticallyCentered="true" Size="ModalSize.Large" />
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<ConfirmDialog @ref="dialog" />

@if (user == null)
{
	<div class="text-center p-5">
		<Spinner Color="SpinnerColor.Primary" />
		<p>Cargando autenticación...</p>
	</div>
}
else if (!HasPermission("Clients", DemexClaims.View))
{
	<Alert Color="AlertColor.Warning" class="mt-4">
		<strong>No tienes permiso</strong> para ver los clientes.
	</Alert>
}
else if (clients == null)
{
	<div class="d-flex justify-content-center">
		<Spinner Type="SpinnerType.Border" Size="SpinnerSize.Large" />
	</div>
}
else if (!clients.Any())
{
	<div>
		<Alert Color="AlertColor.Primary" class="d-flex justify-content-between align-items-center">
			<div>
				<Icon Name="IconName.InfoCircleFill" class="me-2" />
				<strong>No hay clientes registrados</strong>
			</div>
			@if (HasPermission("Clients", DemexClaims.Create))
			{
				<a class="btn btn-outline-primary" href="/clientes/crear">
					<Icon Name="IconName.PlusLg" /> Nuevo Cliente
				</a>
			}
		</Alert>
	</div>
}
else
{
	<div class="container mt-2">
		<div class="card">
			<div class="card-header ">
				<div class="d-flex justify-content-between align-items-center mt-3">
					<h3><Icon Name="IconName.PersonFill"></Icon> Gestión de Clientes</h3>

					@if (HasPermission("Clients", DemexClaims.Create))
					{
						<a class="btn text-white" href="/clientes/crear" style="background-color: #000000;">
							<Icon Name="IconName.PlusLg"></Icon> Nuevo Cliente (DEFENSA)
						</a>
					}
				</div>

				<div class="d-flex justify-content-sm-start align-items-center gap-3 mt-3">
					<div class="d-flex align-items-center border rounded px-2">
						<Icon Name="IconName.Search" class="text-secondary me-2" />
						<input type="text" class="form-control border-0" @bind="searchText" @bind:event="oninput" placeholder="Buscar Empresa..." style="box-shadow:none;" />
					</div>

					<div class="d-flex align-items-center gap-2">
						<Icon Name="IconName.Funnel" class="text-secondary" />
						<InputSelect class="form-select" @bind-Value="selectedLocation">
							<option value="">Todas las provincias</option>
							@foreach (var province in provinces)
							{
								<option value="@province">@province</option>
							}
						</InputSelect>
					</div>
				</div>
			</div>

			<div class="card-body text-center">
				<div class="row">
					<div class="col-12 table-responsive" style="max-height: 370px; overflow-y: auto;">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Empresa</th>
									<th>Contacto</th>
									<th>Encargado</th>
									<th>Correo</th>
									<th>Ubicación</th>
									<th>Zona</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var clt in filteredClients.Select((c, index) => new { c, index }))
								{
									<tr>
										<td>@(clt.index + 1)</td>
										<td>
											<div>@clt.c.Name</div>
											@if (clt.c.IsFrequent == 1)
											{
												<span class="badge bg-success mt-1" style="font-size: 0.8rem;">
													Cliente frecuente
												</span>
											}
										</td>
										<td>
											<div><Icon Name="IconName.Telephone"></Icon> @clt.c.PhoneNumber</div>
											<div class="text-black-50"><Icon Name="IconName.Telephone"></Icon> @clt.c.ManagerPhoneNumber</div>
										</td>
										<td><Icon Name="IconName.Person"></Icon> @clt.c.Manager</td>
										<td><Icon Name="IconName.EnvelopeAt"></Icon> @clt.c.Email</td>
										<td><Icon Name="IconName.GeoAlt"></Icon> @clt.c.Location</td>
										<td><Icon Name="IconName.Geo"></Icon> @clt.c.SpecificLocation</td>
										<td>
											@if(HasPermission("Clients", DemexClaims.View))
											{
												<button class="btn btn-show" @onclick="() => ViewClientInfo(clt.c)">
													<Icon Class="icon-show" Name="IconName.Eye"></Icon>
												</button>
											}
											

											@if (HasPermission("Clients", DemexClaims.Edit))
											{
												<button class="btn btn-edit" @onclick="() => EditClient(clt.c)">
													<Icon Class="icon-edit" Name="IconName.PencilSquare"></Icon>
												</button>
											}

											@if (HasPermission("Clients", DemexClaims.Delete))
											{
												<button class="btn btn-delete" @onclick="() => DeleteClient(clt.c)">
													<Icon Name="IconName.Trash" Color="IconColor.Danger"></Icon>
												</button>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="card-footer">
				<Icon Name="IconName.CircleFill" Color="IconColor.Success"></Icon>
				Clientes frecuentes: @quantityFrecuentClient(clients)
			</div>
		</div>
	</div>
}

@code {
	//  Autenticación y Claims
	[CascadingParameter] private Task<AuthenticationState>? authenticationStateTask { get; set; }
	private ClaimsPrincipal? user;

	private bool HasPermission(string module, string action)
		=> user?.HasClaim($"can_{module.ToUpper()}_{action}", "True") ?? false;

	private string selectedLocation = "";
	private string searchText = string.Empty;
	private readonly string[] provinces = { "San José", "Alajuela", "Heredia", "Cartago", "Guanacaste", "Puntarenas", "Limon" };
	private List<Client>? clients;
	private ConfirmDialog dialog = default!;
	private Modal modal = default!;

	private IEnumerable<Client> filteredClients =>
		clients?
			.Where(c => string.IsNullOrEmpty(selectedLocation) || c.Location == selectedLocation)
			.Where(c => string.IsNullOrEmpty(searchText) || c.Name.Contains(searchText, StringComparison.OrdinalIgnoreCase))
			?? [];

	protected override async Task OnInitializedAsync()
	{
		var authState = await authenticationStateTask!;
		user = authState.User;
		await LoadClients();
	}

	private async Task LoadClients()
	{
		clients = (await service.GetAllClient()).ToList();
	}

	private int quantityFrecuentClient(List<Client> clients)
	{
		return clients.Count(c => c.IsFrequent == 1);
	}

	private async Task DeleteClient(Client cl)
	{

		bool hasPayPendingPay = await orderService.HasPendingPaymentAsync(cl.Id);
		if (hasPayPendingPay)
		{
			ToastService.Notify(new(ToastType.Warning, $"No se puede eliminar a {cl.Name} ya que tiene saldo pendiente de pago"));
			return;
		}
		var options = new ConfirmDialogOptions
		{
			YesButtonText = "Eliminar",
			YesButtonColor = ButtonColor.Danger,
			NoButtonText = "Cancelar",
			NoButtonColor = ButtonColor.Secondary
		};

		var confirmation = await dialog.ShowAsync(
			title: "Eliminar cliente",
			message1: $"¿Estás seguro de eliminar a {cl.Name}?",
			message2: "Esta acción es irreversible",
			confirmDialogOptions: options);

		if (confirmation)
		{
			try
			{
				await service.Delete(cl.Id);
				await LoadClients();
				StateHasChanged();
				ToastService.Notify(new(ToastType.Success, $"Se eliminó correctamente a {cl.Name}"));
			}
			catch (Exception e)
			{
				ToastService.Notify(new(ToastType.Danger, $"Ocurrió un error al eliminar a {cl.Name}: {e.Message}"));
			}
		}
	}

	private void EditClient(Client clt)
	{
		nav.NavigateTo($"/clientes/editar/{clt.Id}");
	}

	private async Task ViewClientInfo(Client clt)
	{
		var parameters = new Dictionary<string, object> { { "ClientId", clt.Id } };
		await modal.ShowAsync<ViewClient>(title: $"Detalles del cliente: {clt.Name}", parameters: parameters);
	}


}

